body{
		background-image:url('images/codeblue2.gif');
		background-color:black;
		background-repeat:no-repeat;
		background-size:cover;
		background-attachment:fixed;
		-webkit-background-size:100%;
		-moz-background-size:100%;

}
h1{
	color: yellow;
	font-size:25;
    font-family:italic;
	text-align:center;}

	

#links{
	border:5px solid pink;
	background-color:transparent;
	width:500px;
	margin:auto;
	padding: 0px 0px 0px 0px;
}

#links2{
	border:5px solid pink;
	background-color:transparent;
	width:500px;
	margin:auto;
	padding: 10px 0px 10px 0px;
}
h1{
	font-size:25px;
}
#homepage a{
	color: yellow;
	font-size:30px;
	list-style-type: none;
	display: block;
    float: left;
    max-height: 25px;
    width: 100px;
    margin: 0px 0px 5px 0px ;
    padding: 5px 0;
    font-family: tahoma, sans-serif;
    text-align: center;
    
    text-decoration: none;
    color: yellow;
}
#homepage  a:hover { border-bottom: #da1 solid 2px; }



